<div class="container-fluid pt-5">
  <div class="row pt-3">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="employee-tab" data-toggle="tab" href="#employee" role="tab"
            aria-controls="Employee Data" aria-selected="true">EMPLOYEE DATA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="holiday-tab" data-toggle="tab" href="#holiday" role="tab" aria-controls="holiday"
            aria-selected="false" (click)="loadHolidayData()">PUBLIC HOLIDAY</a>
        </li>
      </ul>
      <div class="tab-content border p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="employee" role="tabpanel" aria-labelledby="employee-tab">
          <div class="row">
            <div class="col-lg-4 p-3 ">
              <form *ngIf="!editEmpFlag" #addNewEmployeeForm="ngForm" ngNativeValidate
                (ngSubmit)="addEmployee(resetForm)" id="addEmployeeForm">
                <table class="table table-bordered ">
                  <tbody>
                    <tr *ngIf="logAdmin">
                      <th class="text-right align-middle">Is HR</th>
                      <td>
                        <input type="checkbox" name="isHR" id="isHR" [(ngModel)]="user.isHR">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EMP CODE</th>
                      <td>
                        <input type="text" class="form-control" name="emp-code" id="empCode" aria-describedby="empCode"
                          placeholder="Employee Code" [(ngModel)]="user.employeeCode" (keyup)="checkDuplicateEmpCode()"
                          required #empCode="ngModel">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">FIRST NAME</th>
                      <td>
                        <input type="text" class="form-control" name="first-name" id="firstName"
                          aria-describedby="firstName" placeholder="First Name" [(ngModel)]="user.firstName" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">LAST NAME</th>
                      <td>
                        <input type="text" class="form-control" name="last-name" id="lastName"
                          aria-describedby="lastName" placeholder="Last Name" [(ngModel)]="user.lastName"
                          (keyup)="checkDuplicateEmpEmail()" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EMP TYPE</th>
                      <td>
                        <select class="form-control" id="empType" name="employeeType" [(ngModel)]="user.employeeType"
                          required>
                          <option value="" selected="selected" disabled="disabled">Select Employee Type </option>
                          <option value="Temporary">Temporary</option>
                          <option value="Permanent">Permanent</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">CURRENT STATUS</th>
                      <td>
                        <select class="form-control" id="empType" name="employeeStatus"
                          [(ngModel)]="user.employeeStatus" required>
                          <option value="" selected="selected" disabled="disabled">Select Employee Status </option>
                          <option value="Probation">Probation</option>
                          <option value="Confirmed">Confirmed</option>
                          <option value="Intern">Intern</option>
                          <option value="Exiting">Exiting</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">DEPARTMENT</th>
                      <td>
                        <select class="form-control" id="empType" name="department" [(ngModel)]="user.department"
                          required>
                          <option value="" selected="selected" disabled="disabled">Select Department </option>
                          <option *ngFor="let dept of departmentList" value={{dept._id}}>{{dept.departmentName}}
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">REPORTING MANAGER</th>
                      <td>
                        <select class="form-control" id="empType" name="emp-type" [(ngModel)]="user.managerEmployeeCode"
                          required>
                          <option value="" selected="selected" disabled="disabled">Select Manager </option>
                          <option value='admin'>Admin</option>
                          <option *ngFor="let emp of employeeList" value={{emp._id}}>{{emp.firstName}}
                            {{emp.lastName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EMAIL ID</th>
                      <td>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="email"
                          placeholder="Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                          value="{{user.firstName+'.'+user.lastName | lowercase}}@vaal-triangle.com"
                          [(ngModel)]="user.email" required (keyup)="checkDuplicateEmpEmail()">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">Contact Number</th>
                      <td>
                        <input type="tel" class="form-control" name="contact" id="contact" aria-describedby="contact"
                          placeholder="Contact Number" pattern="^\d{10}$" [(ngModel)]="user.phoneNumber" required
                          title="Please add 10 digit mobile number">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">JOINING DATE</th>
                      <td>
                        <input type="date" class="form-control" name="dateOfJoining" id="dateOfJoining"
                          aria-describedby="dateOfJoining" placeholder="Joining Date" [(ngModel)]="user.dateOfJoining"
                          required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">CASUAL LEAVES</th>
                      <td>
                        <input type="number" class="form-control" name="casual-leaves" id="casualLeaves"
                          aria-describedby="casualLeaves" placeholder="Casual Leaves" [(ngModel)]="user.CL" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EARNED LEAVES</th>
                      <td>
                        <input type="number" class="form-control" name="earned-leaves" id="earnedLeaves"
                          aria-describedby="earnedLeaves" placeholder="Earned Leaves" [(ngModel)]="user.EL" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">MATERNITY LEAVES</th>
                      <td>
                        <input type="checkbox" name="maternity-leaves" id="maternityLeaves" [(ngModel)]="user.ML">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">RESIGNATION DATE</th>
                      <td>
                        <input type="date" class="form-control" name="resignationDate" id="resignationDate"
                          aria-describedby="resignationDate" placeholder="Resignation Date"
                          [(ngModel)]="user.resignationDate">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">LEAVING DATE</th>
                      <td>
                        <input type="date" class="form-control" name="leavingDate" id="leavingDate"
                          aria-describedby="leavingDate" placeholder="Leaving Date" [(ngModel)]="user.leavingDate">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">CREATE PASSWORD</th>
                      <td>
                        <input type="text" class="form-control" name="password" id="password"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" aria-describedby="password"
                          placeholder="Create Password" [(ngModel)]="user.password"
                          title="Password must contain at least one number, one lowercase and one uppercase letter, at least six characters">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-secondary" data-toggle="modal">Save</button> &nbsp;
                    <button type="reset" class="btn btn-danger" data-toggle="modal">Clear</button>
                  </div>
                </div>
              </form>

              <form *ngIf="editEmpFlag" #updateEmployeeForm="ngForm" ngNativeValidate (ngSubmit)="updateEmployee()"
                id="updateEmployeeForm">
                <table class="table table-bordered ">
                  <tbody>
                    <tr *ngIf="logAdmin">
                      <th class="text-right align-middle">Is HR</th>
                      <td>
                        <input type="checkbox" name="isHR" id="isHR" [(ngModel)]="user.isHR">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EMP CODE</th>
                      <td>
                        <input type="text" class="form-control" name="emp-code" id="empCode" aria-describedby="empCode"
                          placeholder="Employee Code" [(ngModel)]="user.employeeCode" required #empCode="ngModel">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">FIRST NAME</th>
                      <td>
                        <input type="text" class="form-control" name="first-name" id="firstName"
                          aria-describedby="firstName" placeholder="First Name" [(ngModel)]="user.firstName" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">LAST NAME</th>
                      <td>
                        <input type="text" class="form-control" name="last-name" id="lastName"
                          aria-describedby="lastName" placeholder="Last Name" [(ngModel)]="user.lastName" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EMP TYPE</th>
                      <td>
                        <select class="form-control" id="empType" name="employeeType" [(ngModel)]="user.employeeType"
                          required>
                          <option value="" selected="selected" disabled="disabled">Select Employee Type </option>
                          <option value="Temporary">Temporary</option>
                          <option value="Permanent">Permanent</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">CURRENT STATUS</th>
                      <td>
                        <select class="form-control" id="empType" name="employeeStatus"
                          [(ngModel)]="user.employeeStatus" required>
                          <option value="" selected="selected" disabled="disabled">Select Employee Status </option>
                          <option value="Probation">Probation</option>
                          <option value="Confirmed">Confirmed</option>
                          <option value="Intern">Intern</option>
                          <option value="Exiting">Exiting</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">DEPARTMENT</th>
                      <td>
                        <select class="form-control" id="empType" name="department" [(ngModel)]="user.department"
                          required>
                          <option value="" selected="selected" disabled="disabled">Select Department </option>
                          <option *ngFor="let dept of departmentList" value={{dept._id}}>{{dept.departmentName}}
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">REPORTING MANAGER</th>
                      <td>
                        <select class="form-control" id="empType" name="emp-type" [(ngModel)]="user.managerEmployeeCode"
                          required>
                          <option value="" selected="selected" disabled="disabled">Select Manager </option>
                          <option value='admin'>Admin</option>
                          <option *ngFor="let emp of employeeList" value={{emp._id}}>{{emp.firstName}}
                            {{emp.lastName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EMAIL ID</th>
                      <td>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="email"
                          placeholder="Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                          [(ngModel)]="user.email" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">Contact Number</th>
                      <td>
                        <input type="tel" class="form-control" name="contact" id="contact" aria-describedby="contact"
                          placeholder="Contact Number" pattern="^\d{10}$" [(ngModel)]="user.phoneNumber" required
                          title="Please add 10 digit mobile number">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">JOINING DATE</th>
                      <td>
                        <input type="date" class="form-control" name="dateOfJoining" id="dateOfJoining"
                          aria-describedby="dateOfJoining" placeholder="Joining Date" [(ngModel)]="user.dateOfJoining"
                          required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">CASUAL LEAVES</th>
                      <td>
                        <input type="number" class="form-control" name="casual-leaves" id="casualLeaves"
                          aria-describedby="casualLeaves" placeholder="Casual Leaves" [(ngModel)]="user.CL" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">EARNED LEAVES</th>
                      <td>
                        <input type="number" class="form-control" name="earned-leaves" id="earnedLeaves"
                          aria-describedby="earnedLeaves" placeholder="Earned Leaves" [(ngModel)]="user.EL" required>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">MATERNITY LEAVES</th>
                      <td>
                        <input type="checkbox" name="maternity-leaves" id="maternityLeaves" [(ngModel)]="user.ML">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">RESIGNATION DATE</th>
                      <td>
                        <input type="date" class="form-control" name="resignationDate" id="resignationDate"
                          aria-describedby="resignationDate" placeholder="Resignation Date"
                          [(ngModel)]="user.resignationDate">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">LEAVING DATE</th>
                      <td>
                        <input type="date" class="form-control" name="leavingDate" id="leavingDate"
                          aria-describedby="leavingDate" placeholder="Leaving Date" [(ngModel)]="user.leavingDate">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right align-middle">CREATE PASSWORD</th>
                      <td>
                        <input type="text" class="form-control" name="password" id="password"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" aria-describedby="password"
                          placeholder="Create Password" [(ngModel)]="user.password"
                          title="Password must contain at least one number, one lowercase and one uppercase letter, at least six characters">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <button class="btn btn-secondary" data-toggle="modal">Update</button> &nbsp;
                    <button type="reset" class="btn btn-danger" data-toggle="modal" (click)="backToAddUser();">Cancle</button>
                  </div>
                </div>
              </form>

            </div>
            <div class="col-lg-8 p-3">
              <!-- <label for="search">Search</label>
              <input type="text" class="form-control" name="search" id="search" aria-describedby="search" placeholder="Search"> -->
              <div class="table-responsive">
                <table class="table-bordered table mt-3">
                  <thead>
                    <tr>
                      <th>EMP CODE</th>
                      <th>NAME</th>
                      <th>EMP TYPE</th>
                      <th>STATUS</th>
                      <th>DEPARTMENT</th>
                      <th>MANAGER</th>
                      <th>JOINING DATE</th>
                      <th>TOTAL LEAVES</th>
                      <th>EDIT/DELETE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of employeeList">
                      <td>{{ user.employeeCode }}</td>
                      <td>{{ user.firstName+' '+user.lastName }}</td>
                      <td>{{ user.employeeType }}</td>
                      <td>{{ user.employeeStatus }}</td>
                      <td>{{ user.departmentName }}</td>
                      <td>{{ user.managerName }}</td>
                      <td>{{ this.datepipe.transform(this.user.dateOfJoining,"dd-MM-yyyy") }}</td>
                      <td>{{ user.totalLeaves }}</td>

                      <td>
                        <button (click)="editEmployee(user)" class="btn btn-outline-dark"><i class="fa fa-pencil"
                            aria-hidden="true"></i></button> |
                        <button (click)="deleteEmployee(user)" class="btn btn-outline-danger"> <i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="holiday" role="tabpanel" aria-labelledby="holiday-tab">
          <div class="row">
            <div class="col-lg-4 pt-3">
              <div class="row justify-content-md-center py-3 border">
                <form *ngIf="!editHolidayFlag" #addHolidayForm="ngForm" ngNativeValidate (ngSubmit)="addHoliday()"
                  id="addHolidayForm">
                  <div class="col-12">
                    <div class="form-group row">
                      <label for="date" class="col-sm-4 col-form-label">DATE</label>
                      <div class="col-sm-8">
                        <input class="form-control" aria-describedby="date" type="date" name="date" id="date"
                          placeholder="Date" [(ngModel)]="holiday.date" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="description" class="col-sm-4 col-form-label">DESCRIPTION</label>
                      <div class="col-sm-8">
                        <!-- <textarea rows="2" cols="30" class="form-control" name="description" placeholder="Description" required [(ngModel)]="holiday.description" ></textarea> -->
                        <input type="text" aria-describedby="description" name="description" class="form-control"
                          id="description" placeholder="Description" [(ngModel)]="holiday.description">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <button class="btn btn-secondary" data-toggle="modal">Save</button> &nbsp;
                      <button type="reset" class="btn btn-danger" data-toggle="modal">Clear</button>
                    </div>
                  </div>
                </form>

                <form *ngIf="editHolidayFlag" #editHolidayForm="ngForm" ngNativeValidate (ngSubmit)="updateHoliday()"
                  id="editHolidayForm">
                  <div class="col-12">
                    <div class="form-group row">
                      <label for="date" class="col-sm-4 col-form-label">DATE</label>
                      <div class="col-sm-8">
                        <input class="form-control" aria-describedby="date" type="date" name="date" id="date"
                          placeholder="Date" [(ngModel)]="holiday.date" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="description" class="col-sm-4 col-form-label">DESCRIPTION</label>
                      <div class="col-sm-8">
                        <!-- <textarea rows="2" cols="30" class="form-control" name="description" placeholder="Description" required [(ngModel)]="holiday.description" ></textarea> -->
                        <input type="text" aria-describedby="description" name="description" class="form-control"
                          id="description" placeholder="Description" [(ngModel)]="holiday.description">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <button class="btn btn-secondary" data-toggle="modal">Update</button> &nbsp;
                      <button class="btn btn-danger" data-toggle="modal" (click)="backToAddHoliday()">Cancle</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-8 p-3">
              <div class="table-responsive">
                <table class="table-bordered table mt-3">
                  <thead>
                    <tr>
                      <th>
                        DATE
                      </th>
                      <th>
                        DESCRIPTION
                      </th>
                      <th>
                        EDIT/CANCEL
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let holiday of holidayList">
                      <td>{{this.datepipe.transform(holiday.date,"dd-MM-yyyy")}}</td>
                      <td>{{holiday.description}}</td>
                      <td>
                        <button (click)="editHoliday(holiday)" class="btn btn-outline-dark"><i class="fa fa-pencil"
                            aria-hidden="true"></i></button> |
                        <button (click)="deleteHoliday(holiday)" class="btn btn-outline-danger"> <i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorFlag" class="text-center myAlert-top alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{this.errorMessage}}
  </div>
  
  <div *ngIf="successFlag" class="text-center myAlert-top alert alert-success alert-dismissible fade show" role="alert">
    {{this.successMessage}}
  </div>
  
  <div *ngIf="confirmationFlag" class="text-center myAlert-top alert alert-warning alert-dismissible fade show"
    role="alert">
    <p class="alert-heading">Are you sure to delete leave</p>
    <hr>
    <button type="button" class="btn btn-outline-secondary" >
      Yes
    </button> &nbsp;
    <button type="button" class="btn btn-outline-danger" >
      No
    </button>
  </div>
  