<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="p-3 bg-white shadow rounded-lg">
          <full-calendar id="calendar" defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="true"
            [eventLimit]="5" [events]="events" deepChangeDetection="true" [displayEventTime]="false"></full-calendar>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-8">
            <div class="p-3 bg-white shadow rounded-lg">
              <!-- Employee - Apply leave form -->
              <div *ngIf="!changeLeaveStatusFlag">
                <h4>Leave Application</h4>
                <hr>
                <form *ngIf="!editLeaveFlag" #applyLeaveF="ngForm" ngNativeValidate (ngSubmit)="applyLeave()"
                  id="applyLeaveForm">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label for="fromDate">From</label>
                        <input type="date" class="form-control" name="fromDate" id="fromDate"
                          aria-describedby="fromDate" [(ngModel)]="userLeave.fromDate" (change)="checkleaveSpan()"
                          min="{{this.minDate}}" required>
                        <!-- <span class="text-danger" *ngIf="fromDateerrorMessage">{{fromDatemessage}}</span>  max="{{this.maxDate}}"-->
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="fromSpan">From Span</label>
                      <select class="form-control" id="fromSpan" name="fromSpan" [(ngModel)]="userLeave.fromSpan"
                        (change)="checkleaveSpan()" required>
                        <option value="FULL DAY">Full Day</option>
                        <option value="FIRST HALF">First Half</option>
                        <option value="SECOND HALF">Second Half</option>
                      </select>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label for="fromDate">To</label>
                        <input type="date" class="form-control" name="to-date" id="toDate" aria-describedby="toDate"
                          [(ngModel)]="userLeave.toDate" (change)="checkleaveSpan()" min="{{userLeave.fromDate}}"
                          required>
                        <!-- <span class="text-danger" *ngIf="toDateerrorMessage">{{toDatemessage}}</span>   max="{{this.maxDate}}"-->
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="toSpan">To Span</label>
                      <select class="form-control" id="toSpan" name="toSpan" [(ngModel)]="userLeave.toSpan"
                        (change)="checkleaveSpan()" required>
                        <option value="FULL DAY">Full Day</option>
                        <option value="FIRST HALF">First Half</option>
                        <option value="SECOND HALF">Second Half</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="REASON">Reason</label>
                        <textarea class="form-control" name="reason" id="reason" rows="3" [(ngModel)]="userLeave.reason"
                          required tabindex="1"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="leaveCountFlag">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="REASON">Leave Days</label>
                        <input type="number" class="form-control" name="leaveCount" id="leaveCount"
                          aria-describedby="leaveCount" [(ngModel)]="userLeave.leaveCount" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="userLeave.compOff" class="custom-control-input" name="compOff" id="compOff">
                    <label class="custom-control-label" for="compOff">Comp off</label>
                  </div>

                  <button type="submit" class="btn btn-primary mt-3" data-toggle="modal">Apply</button>
                  <!--*ngIf="apply" data-target="#sandwiched-popup"-->
                  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#sandwiched-popup">Open
                    Modal</button>
                </form>

                <!-- Employee - Edit leave form -->

                <form *ngIf="editLeaveFlag" #updateLeaveF="ngForm" ngNativeValidate (ngSubmit)="updateLeave()"
                  id="updateLeaveForm">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label for="fromDate">From</label>
                        <input type="date" class="form-control" name="fromDate" id="fromDate"
                          aria-describedby="fromDate" [(ngModel)]="userLeave.fromDate" (change)="checkHolidayDate()"
                          required>
                        <!-- <span class="text-danger" *ngIf="fromDateerrorMessage">{{fromDatemessage}}</span> -->
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="fromSpan">From Span</label>
                      <select class="form-control" id="fromSpan" name="fromSpan" [(ngModel)]="userLeave.fromSpan"
                        required>
                        <option value="FULL DAY">Full Day</option>
                        <option value="FIRST HALF">First Half</option>
                        <option value="SECOND HALF">Second half</option>
                      </select>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label for="fromDate">TO</label>
                        <input type="date" class="form-control" name="to-date" id="toDate" aria-describedby="toDate"
                          [(ngModel)]="userLeave.toDate" (change)="checkHolidayDate()" required>
                        <!-- <span class="text-danger" *ngIf="toDateerrorMessage">{{toDatemessage}}</span> -->
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="toSpan">To Span</label>
                      <select class="form-control" id="toSpan" name="toSpan" [(ngModel)]="userLeave.toSpan" required>
                        <option value="FULL DAY">Full Day</option>
                        <option value="FIRST HALF">First Half</option>
                        <option value="SECOND HALF">Second half</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="REASON">Reason</label>
                        <textarea class="form-control" name="reason" id="reason" rows="3" [(ngModel)]="userLeave.reason"
                          required tabindex="1"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="REASON">Leave Days</label>
                        <input type="number" class="form-control" name="leaveCount" id="leaveCount"
                          aria-describedby="leaveCount" [(ngModel)]="userLeave.leaveCount" disabled>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" data-toggle="modal">Update</button>
                  <button type="reset" class="btn btn-outline-secondary" data-toggle="modal"
                    (click)="backToApplyLeave(); updateLeaveF.reset()">Cancel</button>
                  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#sandwiched-popup">Open
                    Modal</button>
                </form>
              </div>

              <!-- Manager - leave aprrove form -->
              <div *ngIf="changeLeaveStatusFlag">
                <h4>Leave Application</h4>
                <form *ngIf="!editLeaveFlag" #changeLeaveStatusForm="ngForm" ngNativeValidate
                  (ngSubmit)="changeLeaveStatus()" id="LeaveStatusForm">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label for="fromDate">From</label>
                        <input type="date" class="form-control" name="fromDate" id="fromDate"
                          aria-describedby="fromDate" [(ngModel)]="userLeave.fromDate" (change)="checkleaveSpan($event)"
                          required>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <label for="fromSpan">From Span</label>
                      <select class="form-control" id="fromSpan" name="fromSpan" [(ngModel)]="userLeave.fromSpan">
                        <option>Full Day</option>
                        <option>First Half</option>
                        <option>Second half</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="form-group">
                        <label for="fromDate">To</label>
                        <input type="date" class="form-control" name="to-date" id="toDate" aria-describedby="toDate"
                          [(ngModel)]="userLeave.toDate" (change)="checkleaveSpan()" required>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <label for="toSpan">To Span</label>
                      <select class="form-control" id="toSpan" name="toSpan" [(ngModel)]="userLeave.toSpan">
                        <option>Full Day</option>
                        <option>First Half</option>
                        <option>Second half</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="REASON">Reason</label>
                        <textarea class="form-control" name="reason" id="reason" rows="3" [(ngModel)]="userLeave.reason"
                          required tabindex="1"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="leaveCountFlag">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="REASON">Leave Days</label>
                        <input type="number" class="form-control" name="leaveCount" id="leaveCount"
                          aria-describedby="leaveCount" [(ngModel)]="userLeave.leaveCount" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="addNote" name="addNote"
                      [(ngModel)]="addNoteFlag">
                    <label class="form-check-label" for="addNote">
                      Add Note
                    </label>
                  </div>
                  <div class="row mt-2" *ngIf="addNoteFlag">
                    <div class="col-12">
                      <div class="form-group">
                        <input class="form-control" type="text" name="managerNote" id="managerNote"
                          [(ngModel)]="userLeave.managerNote">
                      </div>
                    </div>
                  </div>
                  <button (click)="approvedLeave()" class="btn btn-primary">Approve</button>
                  <button *ngIf="takenButtonFlag" (click)="takenLeave()" class="btn btn-danger">Taken</button>
                  <button *ngIf="!takenButtonFlag" (click)="rejectLeave()"
                    class="btn btn-outline-secondary">Reject</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-3 shadow bg-white rounded-lg">
              <h4>LEAVE BALANCE <span class="total" name="leaveBalance"
                  [innerHTML]="this.userLeave.leaveBalance"></span></h4>
              <p class="mb-0">FUTURE LEAVE <span class="font-weight-bold" name="futureLeaveBalance"
                  [innerHTML]="this.userLeave.futureLeave"></span></p>
              <div id="myChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid pt-5">

  <div class="row">
    <div class="col-12">
      <div id="chart_div" style="width: 100%; height: 300px;"></div>
    </div>
  </div>
  <div class="row justify-content-center">

    <div class="col-lg-12 px-3 pb-3">
      <div class="border" id="highlight">
        <table class="table table-responsive-lg text-center table-striped">
          <thead>
            <tr>
              <th>
                FROM
              </th>
              <th>
                TO
              </th>
              <th>
                SPAN
              </th>
              <th>
                REASON
              </th>
              <th>
                PLANNED/ UNPLANNED
              </th>
              <th>
                LEAVE TYPE
              </th>
              <th>
                STATUS
              </th>
              <th *ngIf="!changeLeaveStatusFlag">
                EDIT/ CANCEL
              </th>
              <th *ngIf="changeLeaveStatusFlag">
                APPROVE/REJECT
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of userLeaveList; let i = index "
              [ngClass]="{'highlightRow': leave._id==this.highlightLeaveId}">
              <td>
                {{ this.datepipe.transform(leave.fromDate,"dd-MM-yyyy") }}
              </td>
              <td>
                {{ this.datepipe.transform(leave.toDate,"dd-MM-yyyy") }}
              </td>
              <td>
                {{leave.leaveCount}}
              </td>
              <td>
                {{leave.reason}}
              </td>
              <td>
                <span *ngIf="leave.leavePlanned">PLANNED</span>
                <span *ngIf="!leave.leavePlanned">UNPLANNED</span>
              </td>
              <td>
                {{leave.leaveType}}
              </td>
              <td>
                {{leave.leaveStatus}}
              </td>
              <td *ngIf="!changeLeaveStatusFlag">
                <button (click)="editLeave(leave)" class="btn btn-outline-dark"><i class="fa fa-pencil"
                    aria-hidden="true"></i></button>
                <span>
                  |
                  <button (click)="cancelLeave(leave)" class="btn btn-outline-danger"
                    [disabled]="(leave.leaveStatus == 'Rejected' || leave.leaveStatus == 'Taken' || leave.leaveStatus == 'Approved' ) && leave.cancelFlag == flase"><i
                      class="fa fa-ban" aria-hidden="true"></i></button>
                </span>
                <!-- [disabled]="((this.datepipe.transform(leave.toDate,'dd-MM-yyyy')) > (this.datepipe.transform(today,'dd-MM-yyyy')))" -->
                <!-- <button (click)="deleteLeave(leave)" class="btn btn-outline-danger"> <i class="fa fa-trash"
                    aria-hidden="true"></i></button> -->

              </td>
              <td *ngIf="changeLeaveStatusFlag">
                <button (click)="editLeaveStatus(leave)" class="btn btn-outline-dark"><i class="fa fa-pencil"
                    aria-hidden="true"></i></button>
                <!-- | <button (click)="deleteLeave(leave)" class="btn btn-outline-danger"> <i class="fa fa-trash"
                    aria-hidden="true"></i></button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<!-- Sandwiched Popup Modal -->

<div class="modal bd-example-modal-lg " id="sandwiched-popup" tabindex="-1" role="dialog"
  aria-labelledby="sandwichedLeave" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="alertdialog">
    <div class="modal-content">
      <div class="modal-header">

        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-3">
            <img src="/assets/img/sandwitch.png" width="100%">
          </div>
          <div class="col-9">
            <table class="h-100">
              <th class="align-middle">
                <h5 class="modal-title" id="sandwichedLeave">LEAVES ARE GETTING SANDWICHED</h5>
                <p>6 working days ELs can be availed at a stretch; Els availed for 7 or more than 7 consecutive
                  working days will be treated as a *Long Leave (sandwiched). Weekly-offs “WO” i.e. Saturdays & Sundays
                  falling within this leave-period will be considered a leave. Public Holidays falling in this
                  leave-period will not be considered as leave; here, leave-period refers to consecutive calendar days
                  from first day of leave to last day of leave. </p>
                <p class="mb-0">Do you sill want to apply?</p>
              </th>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-red" (click)="settabindex()" data-toggle="modal">Apply</button>
        <!-- data-target="#maternity-popup" -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<!-- Maternity Popup Modal -->

<div class="modal bd-example-modal-lg " id="maternity-popup" tabindex="-1" role="dialog"
  aria-labelledby="maternityLeave" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="alertdialog">
    <div class="modal-content">
      <div class="modal-header">

        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
      </div>
      <div class="modal-body">
        <h5 class="modal-title  text-center" id="maternityLeave">MATERNITY LEAVE EXCEEDING 80 DAYS</h5>
        <div class="row">
          <div class="col-3">
            <img src="/assets/img/CAUTION.png" width="100%">
          </div>
          <div class="col-9">
            <table class="h-100">
              <th class="align-middle">
                You can apply for maternity leave for not more than 80 days. <br>
                Do you sill want to apply?
              </th>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-red" data-dismiss="modal">APPLY</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="errorFlag" class="text-center myAlert-top alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{this.errorMessage}}
</div> -->

<div *ngIf="successFlag" class="text-center myAlert-top alert alert-success alert-dismissible fade show" role="alert">
  {{this.successMessage}}
</div>

<div *ngIf="confirmationFlag" class="text-center myAlert-top alert alert-warning alert-dismissible fade show"
  role="alert">
  <p class="alert-heading">Are you sure to cancel leave</p>
  <hr>
  <button type="button" class="btn btn-outline-secondary" (click)="confirmCancelLeave()">
    Yes
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="cancleCancelLeave()">
    No
  </button>
</div>

<div class="toast" data-autohide="false" style="transition: 0.5s; position: absolute; top: 0; right: 0; margin: 0 auto; left: 0; z-index: 9999;">
  <div class="toast-header bg-danger text-white">
    <strong class="mr-auto"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Alert</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{this.errorMessage}}
  </div>
</div>


    