<section *ngIf="!showLeaveListFlag">
  <div class="container-fluid">
    <strong>{{RepUserName}}'s - Dashboard</strong>
    <hr>

    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card-header bg-white">
          Calendar
        </div>
        <div class="p-3 bg-white shadow rounded-lg">
          <full-calendar id="calendar" defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="true"
            [eventLimit]="5" [events]="events" deepChangeDetection="true" [displayEventTime]="false"></full-calendar>
        </div>
      </div>

      <div class="col-lg-4 mb-3">

        <div *ngIf="userLeaveList.length == 0" class="jumbotron mb-3 shadow">
          <h2 class="display-5">No Leaves Yet!!</h2>
          <!-- <p class="lead">Take some time off. Apply for your first leave.
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Apply</button> -->
        </div>

        <div class="card-header bg-white" *ngIf="userLeaveList.length !== 0">
          Leave History <a (click)="showLeaveList()" class="pull-right cursor-pointer">View All</a>
        </div>
        <div class="list-group mb-3" *ngIf="!changeLeaveStatusFlag">
          <a href="#!" (click)="editLeave(leave)" data-toggle="modal" data-target="#exampleModal3"
            *ngFor="let leave of userLeaveList | slice:0:5; let i = index "
            [ngClass]="{'highlightRow': leave._id==this.highlightLeaveId}"
            class="list-group-item list-group-item-action shadow">
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-1"><strong>Period -</strong> {{ this.datepipe.transform(leave.fromDate,"MMMM d, y") }}
                <strong> -</strong>
                {{ this.datepipe.transform(leave.toDate,"MMMM d, y") }}</span>
              <small>{{leave.leaveCount}} day(s) <span
                  [ngClass]="{'badge-approved':leave.leaveStatus === 'Approved', 'badge-approvedtaken':leave.leaveStatus === 'Approved Taken', 'badge-pending':leave.leaveStatus === 'Pending', 'badge-rejectedtaken':leave.leaveStatus === 'Rejected Taken', 'badge-cancelled':leave.leaveStatus === 'Cancelled', 'badge-rejected':leave.leaveStatus === 'Rejected'}"
                  class="badge badge-pill">{{leave.leaveStatus}}</span></small>

            </div>
            <p class="mb-1"> <small> <em><strong>Reason - </strong></em> {{leave.reason}}</small></p>
          </a>
        </div>

        <div class="list-group mb-3" *ngIf="changeLeaveStatusFlag">
          <a href="#!" (click)="editLeaveStatus(leave)" data-toggle="modal" data-target="#exampleModal3"
            *ngFor="let leave of userLeaveList | slice:0:5; let i = index "
            [ngClass]="{'highlightRow': leave._id==this.highlightLeaveId}"
            class="list-group-item list-group-item-action shadow">
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-1"><strong>Period -</strong> {{ this.datepipe.transform(leave.fromDate,"MMMM d, y") }}
                <strong> -</strong>
                {{ this.datepipe.transform(leave.toDate,"MMMM d, y") }}</span>
              <small>{{leave.leaveCount}} day(s) <span class="badge badge-pill"
                  [ngClass]="{'badge-approved':leave.leaveStatus === 'Approved', 'badge-approvedtaken':leave.leaveStatus === 'Approved Taken', 'badge-pending':leave.leaveStatus === 'Pending', 'badge-rejectedtaken':leave.leaveStatus === 'Rejected Taken', 'badge-cancelled':leave.leaveStatus === 'Cancelled', 'badge-rejected':leave.leaveStatus === 'Rejected'}">{{leave.leaveStatus}}</span></small>
            </div>
            <p class="mb-1"> <small> <em><strong>Reason - </strong></em> {{leave.reason}}</small></p>
          </a>
        </div>
        <!-- <div class="card shadow d-none">
          <div class="card-header">
            Hours Timeline
          </div>
          <div class="card-body">
            <div id="chart_div"></div>
          </div>
        </div> -->

        <!-- Pending actions -->
        <div *ngFor="let pending of pendingActionList; let i = index">
          <div *ngIf="i == 0" class="card-header  bg-danger text-white">
            Needs your attention
          </div>

          <ul class="list-unstyled">
            <li class="media mb-3 p-2 bg-white rounded-lg shadow">
              <img src="/assets/img/dummy-pic.png" width="50" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{pending.employeeName}} has applied for leave </h5>
                <p class="mb-1"> Period - {{ this.datepipe.transform(pending.fromDate,"MMMM d, y") }}
                  <strong> -</strong>
                  {{ this.datepipe.transform(pending.toDate,"MMMM d, y") }} - <small>{{pending.leaveCount}} day(s)<span
                      class="badge badge-pill badge-warning">Pending</span></small></p>

                <em>Reason</em> - {{pending.reason}}
                <div class="custom-control mt-2 custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1"
                    (change)="addNoteSwitch($event)">
                  <label class="custom-control-label" for="customSwitch1">Add note</label>
                </div>
                <input *ngIf="addNoteFlag" [(ngModel)]="pending.managerNote" class="form-control mt-2 mb-2" type="text"
                  placeholder="Add Note">
                <button class="btn btn-sm btn-primary mt-2" (click)="actionOnLeave(pending, 'Approved')"
                  [disabled]="disableButton">Aprove</button>
                <button class="btn btn-sm btn-outline-dark mt-2" *ngIf="!takenButtonFlag"
                  (click)="actionOnLeave(pending, 'Rejected')" [disabled]="disableButton">Reject</button>
                <button *ngIf="takenButtonFlag" (click)="actionOnLeave(pending, 'Approved Taken')"
                  class="btn btn-sm btn-outline-dark mt-2">Approved
                  Taken</button>
                <button *ngIf="takenButtonFlag" (click)="actionOnLeave(pending, 'Rejected Taken')"
                  class="btn btn-sm btn-outline-dark mt-2">Rejected
                  Taken</button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="row" id="leaveCountTiles">
          <div class="col-12 mb-3">
            <div class="shadow bg-white p-3 rounded-lg">
              Leave Balance <span class="leaveCount bg-dark">{{this.userLeave.leaveBalance}}</span>
            </div>
          </div>

          <!-- <div class="col-12 mb-3">
            <div class="shadow bg-white p-3 rounded-lg">
              Future Leave <span class="leaveCount bg-dark">{{this.userLeave.futureLeave}}</span>
            </div>
          </div> -->

          <div class="col-12 mb-3">
            <div class="shadow bg-white p-3 rounded-lg">
              Comp off<span class="leaveCount bg-dark">{{this.userLeave.compOff}}</span>
            </div>
          </div>

          <!-- <div class="col-12 mb-3">
            <div class="shadow bg-white p-3 rounded-lg">
              Casual Leaves <span class="leaveCount bg-dark">{{userLeave.consumeCL}}/{{this.userLeave.CL}}</span>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="shadow bg-white p-3 rounded-lg">
              Earned Leaves <span class="leaveCount bg-dark">{{userLeave.consumeEL}}/{{this.userLeave.EL}}</span>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="shadow bg-white p-3 rounded-lg">
              Whithout Pay<span class="leaveCount bg-dark"></span>
            </div>
          </div> -->

          <div class="col-12 mb-3" *ngIf="!this.changeLeaveStatusFlag">
            <div class="shadow bg-white rounded-lg">
              <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
                data-target="#exampleModal3" (click)="applyLeaveModal()">
                Apply</button>
            </div>
          </div>
          <div class="col-12 mb-3" *ngIf="this.changeLeaveStatusFlag">
            <div class="shadow bg-white rounded-lg">
              <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
                (click)="compOffHistory()">
                Comp Off History</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section *ngIf="showLeaveListFlag && !changeLeaveStatusFlag">
  <div class="container-fluid">
    <strong>{{RepUserName}}'s - Dashboard</strong>
    <hr>
    <div class="row">
      <div class="col-lg-12 bg-white">
        <table class="table">
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Span</th>
              <th>Reason</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of userLeaveList, let i = index ">
              <td>{{ this.datepipe.transform(leave.fromDate,"dd-MM-yyyy") }}</td>
              <td>{{ this.datepipe.transform(leave.toDate,"dd-MM-yyyy") }}</td>
              <td>{{leave.leaveCount}}</td>
              <td>{{leave.reason}}</td>
              <td><span class="badge badge-pill"
                  [ngClass]="{'badge-approved':leave.leaveStatus === 'Approved', 'badge-approvedtaken':leave.leaveStatus === 'Approved Taken', 'badge-pending':leave.leaveStatus === 'Pending', 'badge-rejectedtaken':leave.leaveStatus === 'Rejected Taken', 'badge-cancelled':leave.leaveStatus === 'Cancelled', 'badge-rejected':leave.leaveStatus === 'Rejected'}">{{leave.leaveStatus}}</span>
              </td>
              <td><button class="btn btn-outline-dark" title="Edit" (click)="editLeave(leave)" data-toggle="modal"
                  data-target="#exampleModal3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showLeaveListFlag && changeLeaveStatusFlag">
  <div class="container-fluid">
    <strong>{{RepUserName}}'s - Dashboard</strong>
    <hr>
    <div class="row">
      <div class="col-lg-12 bg-white">
        <table class="table">
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Span</th>
              <th>Reason</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of userLeaveList, let i = index ">
              <td>{{ this.datepipe.transform(leave.fromDate,"dd-MM-yyyy") }}</td>
              <td>{{ this.datepipe.transform(leave.toDate,"dd-MM-yyyy") }}</td>
              <td>{{leave.leaveCount}}</td>
              <td>{{leave.reason}}</td>
              <td><span class="badge badge-pill"
                  [ngClass]="{'badge-approved':leave.leaveStatus === 'Approved', 'badge-approvedtaken':leave.leaveStatus === 'Approved Taken', 'badge-pending':leave.leaveStatus === 'Pending', 'badge-rejectedtaken':leave.leaveStatus === 'Rejected Taken', 'badge-cancelled':leave.leaveStatus === 'Cancelled', 'badge-rejected':leave.leaveStatus === 'Rejected'}">{{leave.leaveStatus}}</span>
              </td>
              <td><button class="btn btn-outline-dark" title="Approve" (click)="editLeaveStatus(leave)"
                  data-toggle="modal" data-target="#exampleModal3"><i class="fa fa-pencil-square-o"
                    aria-hidden="true"></i> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Leave Application  -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="reset" class="close" (click)="modalReset()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!changeLeaveStatusFlag">
          <h4>Leave Application</h4>
          <hr>
          <form *ngIf="!editLeaveFlag" #applyLeaveF="ngForm" ngNativeValidate (ngSubmit)="applyLeave()"
            id="applyLeaveForm">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="fromDate">From</label>
                  <input type="date" class="form-control" name="fromDate" id="fromDate" aria-describedby="fromDate"
                    [(ngModel)]="userLeave.fromDate" (change)="checkleaveSpan()" min="{{this.minDate}}"
                    max="{{this.maxDate}}" required>
                </div>
              </div>

              <div class="col-12 col-lg-6">
                <label for="fromSpan">From Span</label>
                <select class="form-control" id="fromSpan" name="fromSpan" [(ngModel)]="userLeave.fromSpan"
                  (change)="checkleaveSpan()" required>
                  <option value="FULL DAY">Full Day</option>
                  <option value="FIRST HALF">First Half</option>
                  <option value="SECOND HALF">Second Half</option>
                </select>
              </div>

            </div>

            <div class="row">

              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="fromDate">To</label>
                  <input type="date" class="form-control" name="to-date" id="toDate" aria-describedby="toDate"
                    [(ngModel)]="userLeave.toDate" (change)="checkleaveSpan()" min="{{userLeave.fromDate}}"
                    max="{{this.maxDate}}" required>
                </div>
              </div>

              <div class="col-12 col-lg-6">
                <label for="toSpan">To Span</label>
                <select class="form-control" id="toSpan" name="toSpan" [(ngModel)]="userLeave.toSpan"
                  (change)="checkleaveSpan()" required>
                  <option value="FULL DAY">Full Day</option>
                  <option value="FIRST HALF">First Half</option>
                  <option value="SECOND HALF">Second Half</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="REASON">Reason</label>
                  <textarea class="form-control" name="reason" id="reason" rows="3" [(ngModel)]="userLeave.reason"
                    required tabindex="1"></textarea>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="leaveCountFlag">
              <div class="col-12">
                <div class="form-group">
                  <label for="REASON">Leave Days</label>
                  <input type="number" class="form-control" name="leaveCount" id="leaveCount"
                    aria-describedby="leaveCount" [(ngModel)]="userLeave.leaveCount" disabled>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" data-toggle="modal" [disabled]="disableButton">Apply</button>
            <button type="reset" data-dismiss="modal" class="btn btn-outline-dark" data-toggle="modal"
              (click)="applyLeaveF.reset()">Close</button>
            <!--*ngIf="apply" data-target="#sandwiched-popup"-->
            <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#sandwiched-popup">Open
              Modal</button>
          </form>

          <!-- Employee - Edit leave form -->
          <div *ngIf="editLeaveFlag">
            <form #updateLeaveF="ngForm" ngNativeValidate (ngSubmit)="updateLeave()" id="updateLeaveForm">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label for="fromDate">From</label>
                    <input type="date" class="form-control" name="fromDate" id="fromDate" aria-describedby="fromDate"
                      [(ngModel)]="userLeave.fromDate" (change)="checkHolidayDate()" min="{{this.minDate}}"
                      max="{{this.maxDate}}" required>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <label for="fromSpan">From Span</label>
                  <select class="form-control" id="fromSpan" name="fromSpan" [(ngModel)]="userLeave.fromSpan" required>
                    <option value="FULL DAY">Full Day</option>
                    <option value="FIRST HALF">First Half</option>
                    <option value="SECOND HALF">Second Half</option>
                  </select>
                </div>

              </div>

              <div class="row">

                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label for="fromDate">TO</label>
                    <input type="date" class="form-control" name="to-date" id="toDate" aria-describedby="toDate"
                      [(ngModel)]="userLeave.toDate" (change)="checkHolidayDate()" min="{{userLeave.fromDate}}"
                      max="{{this.maxDate}}" required>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <label for="toSpan">To Span</label>
                  <select class="form-control" id="toSpan" name="toSpan" [(ngModel)]="userLeave.toSpan" required>
                    <option value="FULL DAY">Full Day</option>
                    <option value="FIRST HALF">First Half</option>
                    <option value="SECOND HALF">Second Half</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="REASON">Reason</label>
                    <textarea class="form-control" name="reason" id="reason" rows="3" [(ngModel)]="userLeave.reason"
                      required tabindex="1"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="REASON">Leave Days</label>
                    <input type="number" class="form-control" name="leaveCount" id="leaveCount"
                      aria-describedby="leaveCount" [(ngModel)]="userLeave.leaveCount" disabled>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary" data-toggle="modal"
                [disabled]="userLeave.leaveStatus == 'Cancelled' && this.currentDate > userLeave.fromDate">Update</button>
              <button type="reset" class="btn btn-outline-secondary" data-toggle="modal"
                (click)="backToApplyLeave(); updateLeaveF.reset()">Close</button>
              <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#sandwiched-popup">Open
                Modal</button>
              <!-- <button (click)="cancelLeave(leave)" class="btn btn-outline-danger"
              [disabled]="(leave.leaveStatus == 'Rejected' || leave.leaveStatus == 'Taken' || leave.leaveStatus == 'Approved' ) && leave.cancelFlag == false"><i
                class="fa fa-ban" aria-hidden="true"></i></button> -->

            </form>
            <button class="btn btn-outline-danger mt-button float-right" (click)="cancelLeave(userLeave)"
              [disabled]="this.setCancelFlag == false">Cancel Leave</button>
          </div>
        </div>

        <!-- Manager - leave aprrove form -->
        <div *ngIf="changeLeaveStatusFlag">
          <h4>Leave Application</h4>
          <form *ngIf="!editLeaveFlag" #changeLeaveStatusForm="ngForm" ngNativeValidate (ngSubmit)="changeLeaveStatus()"
            id="LeaveStatusForm">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="fromDate">From</label>
                  <input type="date" class="form-control" name="fromDate" id="fromDate" aria-describedby="fromDate"
                    [(ngModel)]="userLeave.fromDate" (change)="checkleaveSpan($event)" required>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <label for="fromSpan">From Span</label>
                <select class="form-control" id="fromSpan" name="fromSpan" [(ngModel)]="userLeave.fromSpan">
                  <option value="FULL DAY">Full Day</option>
                  <option value="FIRST HALF">First Half</option>
                  <option value="SECOND HALF">Second half</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="fromDate">To</label>
                  <input type="date" class="form-control" name="to-date" id="toDate" aria-describedby="toDate"
                    [(ngModel)]="userLeave.toDate" (change)="checkleaveSpan()" required>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <label for="toSpan">To Span</label>
                <select class="form-control" id="toSpan" name="toSpan" [(ngModel)]="userLeave.toSpan">
                  <option value="FULL DAY">Full Day</option>
                  <option value="FIRST HALF">First Half</option>
                  <option value="SECOND HALF">Second half</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="REASON">Reason</label>
                  <textarea class="form-control" name="reason" id="reason" rows="3" [(ngModel)]="userLeave.reason"
                    required tabindex="1"></textarea>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="leaveCountFlag">
              <div class="col-12">
                <div class="form-group">
                  <label for="REASON">Leave Days</label>
                  <input type="number" class="form-control" name="leaveCount" id="leaveCount"
                    aria-describedby="leaveCount" [(ngModel)]="userLeave.leaveCount" disabled>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="addNote" name="addNote"
                [(ngModel)]="addNoteFlag">
              <label class="form-check-label" for="addNote">
                Add Note
              </label>
            </div>
            <div class="row mt-2" *ngIf="addNoteFlag">
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" type="text" name="managerNote" id="managerNote">
                </div>
              </div>
            </div>
            <button [disabled]="userLeave.leaveStatus == 'Cancelled'" (click)="approvedLeave()"
              class="btn btn-primary">Approve</button>
            <button [disabled]="userLeave.leaveStatus == 'Cancelled'" *ngIf="takenButtonFlag"
              (click)="takenLeave('ApprovedTaken')" class="btn btn-danger">Approved
              Taken</button>
            <button [disabled]="userLeave.leaveStatus == 'Cancelled'" *ngIf="takenButtonFlag"
              (click)="takenLeave('RejectedTaken')" class="btn btn-danger">Rejected
              Taken</button>
            <button [disabled]="userLeave.leaveStatus == 'Cancelled'" *ngIf="!takenButtonFlag" (click)="rejectLeave()"
              class="btn btn-outline-secondary">Reject</button>
          </form>
        </div>

        <div *ngIf="errorFlag" class="text-center mt-4 alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{this.errorMessage}}
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Sandwiched Popup Modal -->

<div class="modal bd-example-modal-lg " id="sandwiched-popup" tabindex="-1" role="dialog"
  aria-labelledby="sandwichedLeave" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="alertdialog">
    <div class="modal-content">
      <div class="modal-header">

        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-3">
            <img src="/assets/img/sandwitch.png" width="100%">
          </div>
          <div class="col-9">
            <table class="h-100">
              <th class="align-middle">
                <h5 class="modal-title" id="sandwichedLeave">LEAVES ARE GETTING SANDWICHED</h5>
                <p>6 working days ELs can be availed at a stretch; Els availed for 7 or more than 7 consecutive
                  working days will be treated as a *Long Leave (sandwiched). Weekly-offs “WO” i.e. Saturdays & Sundays
                  falling within this leave-period will be considered a leave. Public Holidays falling in this
                  leave-period will not be considered as leave; here, leave-period refers to consecutive calendar days
                  from first day of leave to last day of leave. </p>
                <p class="mb-0">Do you sill want to apply?</p>
              </th>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-red" (click)="settabindex()" data-toggle="modal">Apply</button>
        <!-- data-target="#maternity-popup" -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<!-- Maternity Popup Modal -->

<div class="modal bd-example-modal-lg " id="maternity-popup" tabindex="-1" role="dialog"
  aria-labelledby="maternityLeave" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="alertdialog">
    <div class="modal-content">
      <div class="modal-header">

        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
      </div>
      <div class="modal-body">
        <h5 class="modal-title  text-center" id="maternityLeave">MATERNITY LEAVE EXCEEDING 80 DAYS</h5>
        <div class="row">
          <div class="col-3">
            <img src="/assets/img/CAUTION.png" width="100%">
          </div>
          <div class="col-9">
            <table class="h-100">
              <th class="align-middle">
                You can apply for maternity leave for not more than 80 days. <br>
                Do you sill want to apply?
              </th>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-red" data-dismiss="modal">APPLY</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="successFlag" class="text-center myAlert-top alert alert-success alert-dismissible fade show" role="alert">
  {{this.successMessage}}
</div>

<div *ngIf="errorFlagDash" class="text-center myAlert-top alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{this.errorMessageDash}}
</div>

<!-- <div *ngIf="confirmationFlag" class="text-center myAlert-top alert alert-warning alert-dismissible fade show" role="alert">
  <p class="alert-heading">Are you sure to cancel leave</p>
  <hr>
  <button type="button" class="btn btn-outline-secondary" (click)="confirmCancelLeave()">
    Yes
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="cancleCancelLeave()">
    No
  </button>
</div> -->

<!-- <div class="toast" data-autohide="false"
  style="transition: 0.5s; position: absolute; top: 0; right: 0; margin: 0 auto; left: 0; z-index: 9999;">
  <div class="toast-header bg-danger text-white">
    <strong class="mr-auto"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Alert</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{this.errorMessage}}
  </div>
</div> -->