/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
body{
    height: 100%;
}

.table th, .table td{
    padding: 5px;
}
.login{
    background-image: url('/src/assets/img/corporate-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.f-50{
    font-size: 40px;
}

.bg-red{
    background-color: #CC0808;
    color: #fff;
}

.approved, .rejected, .cancelled, .pending,.complete-day, .half-day, .less-than-half-day{
    height: 25px;
    width: 25px;
    display: inline-block;
}

.key-label{
    display: inline-block;
}
.approved{
    background-color: #56EAEF;    
}

.rejected{
    background-color: #EF7B56;
}

.cancelled{
    background-color: #9D56EF;
}

.pending{
    background-color: #EFE556;
}

.complete-day{
    background-color: green;
}

.half-day{
    background-color: orange;
}

.less-than-half-day{
    background-color: red;
}

.total{
    font-size: 40px;
    font-weight: bolder;
    color: #000;
}

.modal-content{
    border-radius: 0 ;
    background-color: #f8f9fa;
}

.modal-header{
    border-bottom: none;
}

.modal-footer{
    border-top: none;
    justify-content: center;
}

.myAlert-top{
    position: fixed;
    top: 65px;
    left: 2%;
    width: 96%;
    z-index: 99999;
}