/* You can add global styles to this file, and also import other style files */
@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

@import "~bootstrap/scss/bootstrap";

$theme-bg-light: #F1F3F6;
$color-approved: #71a95a;
$color-rejected: #ee4540;
$color-cancelled: #151965;
$color-pending: #fcc169;

section {
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.btn {
    margin-right: 5px;
}

body {
    height: 100%;
    background-color: $theme-bg-light;
    padding-left: 80px;
}

.table th, .table td {
    padding: 5px;
    vertical-align: middle;
}

.login {
   // background-image: url(/assets/img/corporate-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.f-50 {
    font-size: 40px;
}

.bg-red {
    background-color: #CC0808;
    color: #fff;
}

.approved, .rejected, .cancelled, .pending, .approvedtaken, .rejectedtaken, .complete-day, .half-day, .less-than-half-day {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.key-label {
    display: inline-block;
}

.approved {
    background-color: #35a849;
}

.rejected {
    background-color: #673ab7;
}

.cancelled {
    background-color:#2196f3;
}

.pending {
    background-color: #f7ab1b;
}
.approvedtaken {
    background-color: #b6d134;
}
.rejectedtaken{
    background-color: #cb202d;
}

.complete-day {
    background-color: green;
}

.half-day {
    background-color: orange;
}

.less-than-half-day {
    background-color: red;
}

.total {
    font-size: 40px;
    font-weight: bolder;
    color: #000;
}

.modal-content {
    border-radius: 0;
    background-color: #f8f9fa;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.myAlert-top {
    position: fixed;
    top: 65px;
    left: 2%;
    width: 96%;
    z-index: 99999;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-title {
    margin-bottom: 1rem;
}

.firstHalf, .secondHalf {
    width: 50%;
}

.secondHalf {
    left: 45%;
}

.holiday {
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}

.fc-title {
    font-size: 16px;
    font-weight: bold;
}

.fc-toolbar h2 {
    font-size: 1rem !important;
}

.notify {
    background-color: rgba(0, 0, 0, 0.14);
}

.dropdown-divider {
    margin: 0 !important;
}

.highlightRow {
    background-color: #80808094 !important;
    font-weight: bold;
}

nav .badge {
    color: #fff;
    border-radius: 50px;
    margin-top: -7px;
    margin-left: -10px;
    border: 3px solid #FFF;
    vertical-align: top;
    min-width: 25px;
    min-height: 25px;
}

.main_sidebar ul li:hover, .active-nav{
    background-color: #007bff;
}

.main_sidebar ul li:hover > a,.active-nav > a, .main_sidebar ul li:hover .toolbar-icon{
    color: #FFF !important;
}