<div class="container-fluid pt-5">
  <div class="pt-4">
  </div>
  <div class="row ">
    <div class="col-2 align-items-end">
      <form action="">
        <div class="form-group">
          <input type="date" class="form-control" name="date" id="Date" aria-describedby="date">
        </div>
      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-responsive-lg text-center table-striped">
        <thead>
          <tr>
            <th>Emp Name</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Total Hours</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="complete-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="complete-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="half-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="complete-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="complete-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="half-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>09:00</td>
            <td>18:45</td>
            <td>09:45</td>
            <td>
              <div class="less-than-half-day rounded-circle"></div>
            </td>
            <td>
                <i class="fa fa-pencil" (click)="edit=true; apply=false;"></i> / <i class="fa fa-trash"></i>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>