<div class="container-fluid pt-5">
  <div class="row pt-3">
    <div class="col-12">
      <h3 class="pt-3">Setting</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Department
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <form *ngIf="!editDepartmentFlag" #adddepartment="ngForm" ngNativeValidate
                    (ngSubmit)="addDepartment()" id="adddepartmentForm">
                    <table class="table bordernone">
                      <tbody>
                        <tr>
                          <th class="text-right align-middle">DEPARTMENT</th>
                          <td>
                            <input type="text" class="form-control" name="departmentName" id="departmentName"
                              aria-describedby="departmentName" placeholder="Department Name" required
                              [(ngModel)]="settings.departmentName">
                          </td>
                        </tr>
                        <tr class="mt-3">
                          <th class="text-right align-middle"></th>
                          <td>
                            <button class="btn btn-secondary" data-toggle="modal">Add</button> &nbsp;
                            <button type="reset" class="btn btn-danger" data-toggle="modal">Clear</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>

                  <form *ngIf="editDepartmentFlag" #editdepartment="ngForm" ngNativeValidate
                    (ngSubmit)="updateDepartment()" id="updatedepartmentForm">
                    <table class="table bordernone">
                      <tbody>
                        <tr>
                          <th class="text-right align-middle">DEPARTMENT</th>
                          <td>
                            <input type="text" class="form-control" name="departmentName" id="departmentName"
                              aria-describedby="departmentName" placeholder="Department Name" required
                              [(ngModel)]="settings.departmentName">
                          </td>
                        </tr>
                        <tr class="mt-3">
                          <th class="text-right align-middle"></th>
                          <td>
                            <button class="btn btn-secondary" data-toggle="modal">Update</button> &nbsp;
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                              (click)="backToAddDept(); editdepartment.reset()">Cancle</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
                <div class="col-lg-8">
                  <div class="table-responsive">
                    <table class="table-bordered table">
                      <thead>
                        <tr>
                          <th>DEPARTMENT</th>
                          <th>EDIT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dept of departmentList">
                          <td>{{dept.departmentName}}</td>
                          <td>
                            <button class="btn btn-outline-dark"><i class="fa fa-pencil" (click)="editDepartment(dept)"
                                aria-hidden="true"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo" (click)="loadDefaultLeaves()">
                  Leaves
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <form *ngIf="!editDefaultLeavesFlag" #adddefaultsleavevs="ngForm" ngNativeValidate
                      (ngSubmit)="updateDefaultsLeaves()" id="addDefaultsleavesForm">
                      <table class="table bordernone">
                        <tbody>
                          <tr>
                            <th class="text-right align-middle">CASUAL LEAVES</th>
                            <td>
                              <input type="number" class="form-control" name="casualLeaves" id="CL"
                                aria-describedby="CL" placeholder="Casual Leaves" required
                                [(ngModel)]="settings.casualLeaves">
                            </td>

                            <th class="text-right align-middle">EARNED LEAVES</th>
                            <td>
                              <input type="number" class="form-control" name="earnedLeaves" id="EL"
                                aria-describedby="EL" placeholder="Earned Leaves" required
                                [(ngModel)]="settings.earnedLeaves">
                            </td>

                            <th class="text-right align-middle">MATERNITY LEAVES</th>
                            <td>
                              <input type="number" class="form-control" name="maternityLeaves" id="ML"
                                aria-describedby="ML" placeholder="Maternity Leaves" required
                                [(ngModel)]="settings.maternityLeaves">
                            </td>

                            <th class="text-right align-middle"></th>
                            <td>
                              <button class="btn btn-secondary" data-toggle="modal">Update</button> &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorFlag" class="text-center myAlert-top alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{this.errorMessage}}
</div>

<div *ngIf="successFlag" class="text-center myAlert-top alert alert-success alert-dismissible fade show" role="alert">
  {{this.successMessage}}
</div>