<div class="container-fluid p-5">
    <div class="p-3 pt-4">
      <table class="h-100">
        <tr>
          <td>
              <div class="approved rounded-circle"></div> 
          </td>
          <td>
              <h5 class="align-middle pl-1 pr-3">APPROVED</h5>
          </td>
          <td>
              <div class="rejected rounded-circle"></div>
          </td>
          <td>
              <h5 class="align-middle pl-1 pr-3">REJECTED</h5>
          </td>
          <td>
              <div class="cancelled rounded-circle"></div>
          </td>
          <td>
            <h5 class="align-middle pl-1 pr-3">CANCELLED</h5>
          </td>
          <td>
              <div class="pending rounded-circle"></div>
          </td>
          <td>
              <h5 class="align-middle pl-1 pr-3">PENDING</h5>
          </td>
        </tr>
      </table>
      <div class="row justify-content-center border p-2">
            <!-- <div class="control-section"> -->
                    <div class="col-lg-9 content-wrapper ">
                        <!-- <div id="calendar"></div> -->
                        <full-calendar id="calendar" defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="true"
                        [events]="events" [eventLimit]="5"></full-calendar>
                        <!-- <ejs-schedule id="schedule" #scheduleObj width='100%' cssClass='timeline-resource-grouping' height='650px' [selectedDate]="selectedDate" [currentView]="currentView" 
                            [group]="group" [eventSettings]="eventSettings" (created)='onCreate()' (dataBinding)="onDataBinding()" (actionBegin)="onActionBegin($event)" (dataBound)="onDataBound()" (actionComplete)="onActionComplete($event)"   (renderCell)="onRenderCell($event)" >
                            <e-resources>
                                <e-resource field='ProjectId' title='Choose Project' [dataSource]='categoryDataSource' [allowMultiple]='allowMultiple' name='Projects'
                                    textField='text' idField='id' colorField='color'  >
                                </e-resource>
                                <!-- <e-resource field='TaskId' title='Category' [dataSource]='categoryDataSource' [allowMultiple]='allowMultiple' name='Categories'
                                    textField='text' idField='id' colorField='color' groupIDField= 'DoctorGroupId'  startHourField= 'startHour' endHourField= 'endHour'>
                                </e-resource> -->
                            <!-- </e-resources>
                            <e-views>
                                <e-view option="TimelineDay"></e-view>
                                <e-view option="TimelineWeek"></e-view>
                                <e-view option="TimelineWorkWeek"></e-view>
                                <e-view option="TimelineMonth"></e-view>
                                <e-view option="Agenda"></e-view>
                            </e-views> -->
                        <!-- </ejs-schedule> -->
                    </div>
                <!-- </div> -->
          <!-- <calendar-scheduler-view *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="locale"
          [weekStartsOn]="weekStartsOn"
          [excludeDays]="excludeDays"
          [startsWithToday]="startsWithToday"
          [hourSegments]="2"
          [dayStartHour]="dayStartHour"
          [dayEndHour]="dayEndHour"
          [dayModifier]="dayModifier"
          [hourModifier]="hourModifier"
          [segmentModifier]="segmentModifier"
          [eventModifier]="eventModifier"
          [showEventActions]="true"
          [showSegmentHour]="false"
          (dayHeaderClicked)="dayHeaderClicked($event.day)"
          (hourClicked)="hourClicked($event.hour)"
          (segmentClicked)="segmentClicked('Clicked', $event.segment)"
          (eventClicked)="eventClicked('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          [refresh]="refresh">
</calendar-scheduler-view> -->
      </div>      
</div>