<nav class="navbar fixed-top navbar-expand navbar-light bg-white border">
  <a class="navbar-brand">HR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="RepUserNameFlag" class="nav-item">
        <a class="nav-link"><b>{{RepUserName}}</b></a>
      </li>
      <li *ngIf="isManagerFlag" class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          (click)="removeHighlight()">
          <i class="fa fa-users" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="userDropdown">
          <div class="dropdown-item">
            <input type="checkbox" [(ngModel)]="masterSelected" value="m1" (change)="checkUncheckAll()"
              class="user-checkbox" id="selectAll" name="selectAll">
            <div class="user-name">Select All</div>
            <div *ngIf="checkBoxUrlFlag" class="float-right"><a class="btn btn-outline-secondary btn-sm"
                (click)="teamView()">Team View</a>
            </div>
          </div>
          <div class="employee-panel">
            <div *ngFor="let recEmp of managerEmpList  | filter : searchText">
              <div class="dropdown-item">
                <input type="checkbox" [(ngModel)]="recEmp.isSelected" value="{{recEmp._id}}" (change)="isAllSelected()"
                  class="user-checkbox" name="list_name">
                <a (click)="selectedEmpDashboard(recEmp._id,recEmp.firstName+' '+recEmp.lastName)">
                  <div class="user-icon">
                    <img src="assets/img/dummy-pic.png" width="45" alt="" class="cursor-pointer">
                  </div>
                  <div class="user-name cursor-pointer">
                    {{recEmp.firstName}}
                    {{recEmp.lastName}}
                  </div>
                </a>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
          <!-- Search -->
          <div class="p-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <input [(ngModel)]="searchText" class="form-control form-control-borderless p-1" type="search"
                placeholder="Search ... ">
              <!-- <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span> -->
            </div>
          </div>

          <!-- All team members check box -->
          <div class="dropdown-item">
            <input type="checkbox" class="user-checkbox" id="selectAll" name="selectAll" [(ngModel)]="isChecked"
              (change)="showRecList(isChecked? true: false)">
            <div class="user-name">All Team Members</div>
          </div>
        </div>
      </li>
     <!-- <li class="nav-item">
        <a class="nav-link"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          [routerLink]="['/team-view/']">
          <i class="fa fa-users" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="userDropdown">

          <div class="dropdown-item">
            <input type="checkbox" class="user-checkbox" id="selectAll" name="selectAll">
            <div class="user-name">Select All</div>
          </div>
        </div>
      </li> -->
      <li class="nav-item" *ngIf="adminLog">
        <a class="nav-link" [routerLink]="['/setting/']"><i class="fa fa-cogs" aria-hidden="true"></i></a>
      </li>

      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-shield" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" (click)="showBellNotification()"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell" aria-hidden="true"></i> <span class="badge badge-primary"
            *ngIf="notificationBell">{{this.notificationCount}}</span>
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <!-- <a href="#!" class="dropdown-item notification-heading">
            Notification 
          </a>           -->
          <div *ngFor="let notification of notificationList">
            <div [ngClass]="{'notify': notification.isRead==false}">
              <a *ngIf="!this.isManagerFlag" class="dropdown-item cursor-pointer"
                (click)="setNotificationFlag(notification)">
                <div class="notificatio-icon">
                  <img src="assets/img/dummy-pic.png" width="45" alt="">
                </div>
                <div class="notificatio-mesg">
                  {{notification.notificationStatus}}
                  <br>
                  <small>{{this.notificationFromUserData.firstName}} {{this.notificationFromUserData.lastName}}</small>
                </div>
              </a>
              <a *ngIf="this.isManagerFlag" class="dropdown-item cursor-pointer"
                (click)="setNotificationFlag(notification)">
                <div class="notificatio-icon">
                  <img src="assets/img/dummy-pic.png" width="45" alt="">
                </div>
                <div class="notificatio-mesg">
                  {{notification.notificationStatus}}
                  <br>
                  <small>{{this.notificationFromUserData.firstName}} {{this.notificationFromUserData.lastName}}</small>
                </div>
              </a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
          <div class="p-1 pr-3 text-right" *ngIf="this.notificationCount !== 0">
            <a tabindex="0" class="cursor-pointer" (click)="clearAllNotification()"><small>Clear all</small></a>
          </div>
          <div class="p-1 pr-3 text-center" *ngIf="this.notificationCount == 0">
            No Notification
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <a class="userName dropdown-item cursor-pointer" (click)="selectedEmpDashboard(userId, userName)"><i
              aria-hidden="true" class="fa fa-user-circle-o"></i>{{userName}}</a>
          <a class="dropdown-item cursor-pointer" *ngIf="adminLog || isHR" (click)="addEmployeeRoute()">Add
            Employee</a>
          <!-- <a class="dropdown-item" href="#">Another action</a> -->
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
  </div>
</nav>